/* html element */
body {
    margin: 0px;
    padding: 0px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* view height */
.vh-25 {
    height:25vh
}

.vh-50 {
    height: 50vh
}

.vh-75 {
    height: 75vh
}

.vh-100 {
    height: 100vh
}