#profile-description {
    resize: none;
}

#upload-profile-pic-button {
    bottom: 15px;
    right: 40px;
}

.new-post input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

#post-description {
    resize: none;
    width: 100%;
}